@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LoyerVoiture.Models.Utilisateur

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt style="color:white">
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.mdp)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.mdp)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.remdp)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.remdp)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.CIN)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.CIN)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt style="color:white">
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd style="color:white">
            @Html.DisplayFor(model => model.statut)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index",1, new { @class = "btn btn-default" })
        </div>
    }
</div>
