@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<LoyerVoiture.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}


<h2>Profiles management</h2>
<br />
<p>
    @Html.ActionLink("Create profile", "Create", "Admin", 1, new { @class = "btn btn-default" })

</p>
<table class="table">
    <tr>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.mdp)
        </th>

        <th style="color:white">
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th style="color:white">
            @Html.DisplayNameFor(model => model.Tel)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.mdp)
            </td>

            <td style="color:white">
                @Html.DisplayFor(modelItem => item.ville)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Tel)
            </td>

            <td style="color:chocolate">
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary " }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-primary " })
            </td>
        </tr>
    }

</table>
