@{
    Layout = "~/Views/Shared/_LayoutProp.cshtml";
}
@model LoyerVoiture.Models.Voiture

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2> Car's Details </h2>


<div>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt class="th">
                        @Html.DisplayName("Name of car")
                    </dt>
                    <dd class="td">
                        @Html.DisplayFor(model => model.nom)
                    </dd>
                    <dt class="th">
                        @Html.DisplayName("fuel")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.carburant)
                    </dd>

                    <dt class="th">
                        @Html.DisplayNameFor(model => model.kilometrage)
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.kilometrage)
                    </dd>

                    <dt class="th">
                        @Html.DisplayName("Price")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.prix)
                    </dd>

                    <dt class="th">
                        @Html.DisplayName("Model")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.model)
                    </dd>



                    <dt class="th">
                        @Html.DisplayName("Color")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.couleur)
                    </dd>

                    <dt class="th">
                        @Html.DisplayName("Number of places")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.nombrePlace)
                    </dd>

                    <dt class="th">
                        @Html.DisplayName("HorsePower")
                    </dt>

                    <dd class="td">
                        @Html.DisplayFor(model => model.chevaux)
                    </dd>
                    <dt class="th">
                        @Html.Label("Owner")
                    </dt>
                    <dd class="td">
                        @Html.DisplayFor(model => model.utilisateur.nom)   @Html.DisplayFor(model => model.utilisateur.prenom)
                    </dd>
                    <dt class="th">
                        @Html.Label("Special deal")
                    </dt>
                    <dd class="td">
                        @Html.DisplayFor(model => model.special) 
                    </dd>

                </dl>
            </td>
            <td>
                <div class="col-md-1"></div>
                <div class="col-md-3 ">
                    <img src="~/images/@Model.image" style="width:400px;height:300px;margin-left:300px" />

                </div>
            </td>
        </tr>
    </table>
</div>

<p>

    @Html.ActionLink("Return", "Index") |

    @Html.ActionLink("Modifiy", "EditV", new { id = Model.id }) |

    @Html.ActionLink("delete", "DeleteV", new { id = Model.id })
</p>

<style>
    .th {
        color: papayawhip;
    }

    .td {
        color: white;
    }
</style>